/* The principal network should be in the center */
/* The utilization neurons should be to the left of the principal network in a column */
/* The capacity neurons should be to the left of the principal network in a column */
/* The wta neurons should be below the principal network in a row*/
.principal_network, .utilization_neurons, .capacity_neurons, .wta_neurons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.principal_network {
    flex: 1;
    flex-direction: row;
    border: 2px dashed black;
}

.utilization_neurons, .capacity_neurons {
    flex: 0.25;
    height: 100%;
    flex-direction: column;
}

.main_network_row {
    margin-top: auto;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.wta_neurons {
    flex: 0.25;
    flex-direction: row;
    width: 100%;
    margin-bottom: auto;
}

.window, .layer {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: "#d3d7de";
}
.window {
    padding: 10px;
}

.layer_horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 66.67%; /* TODO: find a better way */
}

.neuron {
    background: blue;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    margin-top: 10%;
    margin-bottom: 10%;
}
